@font-face {
  font-family: 'Noto Sans HK';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosanshk/v21/nKKO-GM_FYFRJvXzVXaAPe9ZUHp1.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans HK';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosanshk/v21/nKKP-GM_FYFRJvXzVXaAPe9ZwFlTHA.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans HK';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosanshk/v21/nKKP-GM_FYFRJvXzVXaAPe9ZiF9THA.otf) format('opentype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v20/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-WYi1UA.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v20/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-B4i1UA.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v20/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-NYi1UA.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v20/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-4I-1UA.ttf) format('truetype');
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
* a {
  text-decoration: none;
}
* ul {
  list-style: none;
}
body {
  background-color: #f9f3ea;
}
.en {
  font-family: 'Rubik', sans-serif;
}
.ch {
  font-family: 'Noto Sans HK', sans-serif;
}
.active {
  position: relative;
  color: #000 !important;
  font-weight: 700;
  transition: 0.3s;
  font-size: 1.7rem !important;
}
.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #f8b616;
}
.menuActive {
  position: relative;
  color: #f8b616 !important;
}
.menuActive::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f8b616;
}
.anchor {
  position: fixed !important;
  background-color: #fff !important;
  width: 100%;
  margin: 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.toggle {
  visibility: hidden;
  position: fixed;
  right: 5%;
  cursor: pointer;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 999;
}
.toggle span {
  position: absolute;
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  transition: 0.3s;
}
.toggle span:first-child {
  transform: translateY(-15px);
  width: 25px;
  left: 15px;
}
.toggle span:nth-child(2) {
  transform: translateY(15px);
  width: 15px;
  left: 15px;
}
.toggle.toggle-active span:first-child {
  width: 40px !important;
  transform: translateY(0) rotate(135deg) !important;
}
.toggle.toggle-active span:nth-child(2) {
  width: 40px !important;
  transform: translateY(0) rotate(-135deg) !important;
}
.toggle.toggle-active span:nth-child(3) {
  transform: translateX(60px);
}
.slider {
  width: 100% !important;
  left: 0 !important;
}
.menu {
  font-family: 'Rubik', sans-serif;
  position: absolute;
  z-index: 500;
  display: flex;
  align-items: center;
  padding: 15px 30px;
}
.menu .logo {
  position: relative;
  color: #f8b616;
  font-size: 36px;
  font-weight: 700;
}
.menu .logo span {
  color: #000;
}
.menu .gap {
  width: 3px;
  height: 50px;
  background-color: #000;
  margin: auto 30px;
}
.menu ul {
  display: flex;
  align-items: center;
}
.menu ul li {
  margin: auto 20px;
}
.menu ul li a {
  color: #000;
  font-size: 18px;
  font-weight: 500;
}
#header {
  position: relative;
  width: 100%;
  height: 100vh;
}
#header .background {
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 87%;
  opacity: 1;
}
#header .img {
  position: absolute;
  top: 18%;
  right: 8%;
  width: 30%;
}
#header .intro {
  position: absolute;
  top: 34%;
  left: 16%;
}
#header .intro h1 {
  font-family: 'Rubik', sans-serif;
  color: #f8b616;
  font-size: 78px;
  letter-spacing: 2px;
}
#header .intro p {
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 10px;
}
.slider-bar {
  position: fixed;
  left: -22%;
  width: 0%;
  height: 110vh;
  background-color: #fff;
  z-index: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: 0.5s;
}
.slider-bar li a {
  color: #f8b616;
  font-size: 1.5rem;
  font-weight: 700;
}
#about {
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#about .about-image {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#about .about-image .img {
  position: relative;
  width: 500px;
  margin-bottom: 30px;
}
#about .about-intro {
  width: 45%;
  margin-left: 3%;
}
#about .about-intro .intro-info {
  margin-bottom: 15px;
}
#about .about-intro .intro-info .title {
  color: #f8b616;
  line-height: 250%;
  font-weight: 700;
}
#about .about-intro .intro-info .title span {
  color: #000;
  margin-left: 10px;
}
#about .about-intro .intro-progress {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 80%;
}
#about .about-intro .intro-progress .skill-progress .skill-title {
  width: 90px;
  padding: 5px 10px;
  text-align: center;
  background-color: #f8b616;
  color: #fff;
}
#about .about-intro .intro-progress .skill-progress .progress {
  margin: 20px auto;
}
#about .about-intro .intro-progress .skill-progress .progress .el-progress .el-progress-bar__outer {
  height: 10px;
  width: 280px;
  background-color: #ffe7e7;
}
#about .about-intro .intro-progress .skill-progress .progress .el-progress .el-progress-bar__outer .el-progress-bar__inner {
  background-color: #f8b616;
}
#experience {
  position: relative;
  height: 120vh;
  width: 100%;
}
#experience .title {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 5rem;
  letter-spacing: 5px;
  z-index: 100;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}
#experience .exp-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
}
#experience .el-carousel--horizontal {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}
#experience .el-carousel--horizontal .el-carousel__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 28px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-repeat: no-repeat;
  background-size: cover !important;
  background-color: rgba(255, 255, 255, 0.75);
  background-blend-mode: color;
}
#experience .el-carousel--horizontal .el-carousel__item .exp-text {
  margin-left: 6%;
}
#experience .el-carousel--horizontal .el-carousel__item .exp-text h1 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 5px;
  line-height: 150%;
}
#experience .el-carousel--horizontal .el-carousel__item .exp-text div {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
#experience .el-carousel--horizontal .el-carousel__item .exp-text .exp-title {
  color: #f8b616;
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 12px;
}
#experience .el-carousel--horizontal .el-carousel__item .exp-text .exp-content {
  color: #000;
  font-size: 1.2rem;
  line-height: 150%;
  letter-spacing: 3px;
  font-weight: 700;
  margin-top: 3px;
}
#experience .el-carousel--horizontal .el-carousel__item .exp-img {
  width: 50%;
  height: 100%;
}
.imgRotate {
  transform: rotate(-15deg);
}
#certificate {
  margin: 0 auto;
  position: relative;
  width: 80%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#certificate .title {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 5rem;
  letter-spacing: 5px;
  z-index: 100;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}
#certificate .certificate-show {
  position: relative;
  width: 400px;
  height: 550px;
  background-color: #f8b616;
}
#certificate .certificate-show .show-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  transform-origin: bottom left;
}
#certificate .certificate-show i {
  display: none;
  position: absolute;
  cursor: pointer;
  color: #fff;
  font-size: 1.8rem;
}
#certificate .certificate-show .fa-angle-right {
  top: 50%;
  right: 5%;
}
#certificate .certificate-show .fa-angle-left {
  top: 50%;
  left: 5%;
}
#certificate .certificate-link {
  height: 500px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
#certificate .certificate-link li {
  cursor: pointer;
  font-size: 1.2rem;
  color: #c7c7c7;
}
#autobiography {
  position: relative;
  width: 100%;
  height: 350vh;
  background-image: url(image/autobiography.png);
}
#autobiography .title {
  position: absolute;
  right: 7%;
  top: 1%;
  color: #f8b616;
  font-size: 5rem;
  letter-spacing: 5px;
  z-index: 100;
  text-shadow: 6px 6px 0px rgba(255, 255, 255, 0.425);
}
#autobiography .autobiography-content {
  position: absolute;
}
#autobiography .autobiography-content h1 {
  color: #f8b616;
}
#autobiography .autobiography-content .content {
  width: 500px;
  line-height: 200%;
  font-size: 1.2rem;
  font-weight: 600;
}
#autobiography .autobiography-content .exp {
  width: 500px;
  margin-top: 15px;
  font-size: 1.5rem;
  font-weight: 700;
}
#autobiography .autobiography-content:first-child {
  top: 4%;
  right: 7%;
}
#autobiography .autobiography-content:nth-child(2) {
  top: 23%;
  left: 12%;
}
#autobiography .autobiography-content:nth-child(3) {
  top: 44%;
  right: 12%;
}
#autobiography .autobiography-content:nth-child(4) {
  top: 63%;
  left: 15%;
}
#autobiography .autobiography-content:nth-child(5) {
  top: 82%;
  right: 13%;
}
#autobiography .rwd-autobiography-content {
  display: none;
}
@media (max-width: 1200px) {
  #header .background {
    width: 100%;
  }
  #header .img {
    right: 5%;
    width: 400px;
  }
  #header .intro {
    top: 35%;
    left: 10%;
  }
  #header .intro h1 {
    font-size: 3rem;
  }
  #about .about-image .img {
    width: 400px;
  }
  #about .about-intro .el-progress-bar__outer {
    width: 180px !important;
  }
  #experience .title {
    font-size: 3rem;
    top: 23%;
  }
  #experience .exp-background {
    height: 100%;
  }
  #experience .el-carousel--horizontal .el-carousel__item {
    height: 400px !important;
  }
  #experience .el-carousel--horizontal .el-carousel__item .exp-text {
    margin-left: 5%;
  }
  #experience .el-carousel--horizontal .el-carousel__item .exp-text h1 {
    font-size: 1.6rem;
    letter-spacing: 0px;
  }
  #experience .el-carousel--horizontal .el-carousel__item .exp-text .exp-content {
    letter-spacing: 1px;
  }
  #certificate .title {
    font-size: 3rem;
    top: 3%;
  }
  #autobiography {
    background-size: 100%;
    background-repeat: no-repeat;
    height: 250vh;
  }
  #autobiography .autobiography-content h1 {
    font-size: 1.8rem;
  }
  #autobiography .autobiography-content .content {
    width: 450px;
    line-height: 150%;
  }
  #autobiography .autobiography-content .exp {
    width: 450px;
    font-size: 1.2rem;
  }
  #autobiography .autobiography-content:first-child {
    top: 6%;
    right: 2%;
  }
  #autobiography .autobiography-content:nth-child(2) {
    top: 23%;
    left: 14%;
  }
  #autobiography .autobiography-content:nth-child(3) {
    top: 43%;
    right: 10%;
  }
  #autobiography .autobiography-content:nth-child(4) {
    top: 63%;
    left: 12%;
  }
  #autobiography .autobiography-content:last-child {
    top: 80%;
    right: 10%;
  }
}
@media (max-width: 1080px) {
  .active {
    font-size: 1.5rem !important;
  }
  #about {
    padding: 0;
  }
  #experience .el-carousel--horizontal {
    position: absolute;
    top: 72%;
    width: 90%;
    height: 80%;
  }
  #experience .el-carousel--horizontal .el-carousel__item .exp-text h1 {
    font-size: 1.4rem;
  }
  #experience .el-carousel--horizontal .el-carousel__item .exp-text div {
    font-size: 1.2rem;
  }
  #experience .el-carousel--horizontal .el-carousel__item .exp-text .exp-title {
    font-size: 1.2rem;
  }
  #experience .el-carousel--horizontal .el-carousel__item .exp-img {
    width: 50%;
    height: 80%;
  }
  #certificate .certificate-show {
    width: 300px;
    height: 400px;
  }
  #certificate .certificate-show .name {
    font-size: 1.5rem;
  }
  #certificate .certificate-link li {
    font-size: 1rem;
  }
  #autobiography {
    height: 230vh;
  }
  #autobiography .autobiography-content h1 {
    font-size: 1.5rem;
  }
  #autobiography .autobiography-content .content {
    width: 400px;
  }
  #autobiography .autobiography-content .exp {
    font-size: 1.2rem;
    width: 400px;
  }
  #autobiography .autobiography-content:first-child {
    top: 5%;
    right: 1%;
  }
  #autobiography .autobiography-content:nth-child(2) {
    top: 22%;
    left: 13%;
  }
  #autobiography .autobiography-content:nth-child(3) {
    top: 43%;
  }
  #autobiography .autobiography-content:nth-child(4) {
    top: 63%;
    left: 14%;
  }
  #autobiography .autobiography-content:last-child {
    top: 80%;
    right: 10%;
  }
}
@media (max-width: 844px) {
  .toggle {
    visibility: visible;
    margin-right: 1%;
  }
  .menu {
    justify-content: space-between;
    width: 100%;
  }
  .menu .gap {
    display: none;
  }
  .menu ul {
    display: none;
  }
  #header {
    height: 60vh;
  }
  #header .img {
    width: 230px;
    right: 2%;
  }
  #header .intro h1 {
    font-size: 2rem;
  }
  #header .intro p {
    font-size: 1.5rem;
  }
  #about .about-image .img {
    width: 300px;
  }
  #about .about-intro .intro-info {
    margin-bottom: 10px;
  }
  #about .about-intro .intro-info .title {
    line-height: 200%;
  }
  #about .about-intro .progress {
    margin: 5px auto;
  }
  #about .about-intro .el-progress-bar__outer {
    width: 130px !important;
  }
  #experience {
    height: 100vh;
  }
  #experience .title {
    font-size: 3rem;
  }
  #experience .el-carousel__item .exp-text {
    margin: 0 auto;
  }
  #experience .el-carousel__item .exp-img {
    display: none;
  }
  #certificate {
    height: 70vh;
    justify-content: center;
  }
  #certificate .certificate-show {
    width: 300px;
    height: 500px;
  }
  #certificate .certificate-show i {
    display: block;
  }
  #certificate .certificate-link {
    display: none;
  }
  #autobiography {
    background-image: none;
  }
  #autobiography .autobiography-content {
    display: none;
  }
  #autobiography .rwd-autobiography-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  #autobiography .rwd-autobiography-content .rwd-img {
    width: 100%;
  }
  #autobiography .rwd-autobiography-content .rwd-content {
    margin: 20px auto;
    width: 80%;
  }
  #autobiography .rwd-autobiography-content .rwd-content h1 {
    text-align: center;
    color: #f8b616;
  }
  #autobiography .rwd-autobiography-content .rwd-content div {
    font-weight: 700;
    font-size: 1.5rem;
  }
  #autobiography .rwd-autobiography-content .rwd-content .exp {
    margin-top: 10px;
  }
}
@media (max-width: 540px) {
  #header {
    height: 70vh;
  }
  #header .background {
    top: 30%;
    width: 150%;
  }
  #header .img {
    display: none;
  }
  #header .intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #header .intro p {
    font-size: 1rem;
  }
  #about {
    width: 80%;
    padding: 0;
  }
  #about .about-image .img {
    display: none;
  }
  #about .about-intro {
    width: 100%;
    margin-right: 8%;
  }
  #experience .title {
    font-size: 3rem;
  }
  #experience .exp .exp-image {
    display: none;
  }
  #experience .exp .exp-timeline {
    width: 80%;
    margin-top: 5%;
  }
  #experience .exp-text {
    margin-left: 6%;
  }
  #experience .exp-text h1 {
    font-size: 1rem;
  }
  #experience .exp-text div {
    font-size: 0.8rem;
  }
  #experience .exp-text .exp-title {
    font-size: 0.8rem;
  }
  #experience .exp-text .exp-content {
    font-size: 0.8rem;
  }
  #certificate .certificate-show {
    position: relative;
    width: 200px;
    height: 350px;
    background-color: #f8b616;
  }
  #autobiography {
    background-image: none;
  }
  #autobiography .autobiography-content {
    display: none;
  }
  #autobiography .rwd-autobiography-content .rwd-content h1 {
    font-size: 1.2rem;
  }
  #autobiography .rwd-autobiography-content .rwd-content div {
    font-weight: 700;
    font-size: 1rem;
  }
}
@media (max-height: 420px) {
  .toggle {
    visibility: visible;
    margin-right: 1%;
  }
  .menu {
    justify-content: space-between;
    width: 100%;
  }
  .menu .gap {
    display: none;
  }
  .menu ul {
    display: none;
  }
  #header .background {
    width: 87%;
  }
  #header .img {
    width: 30%;
  }
  #header .intro h1 {
    font-size: 3rem;
  }
  #about .about-image .img {
    position: relative;
    width: 300px;
    margin-bottom: 30px;
  }
  #about .about-intro .intro-progress .skill-progress .skill-title {
    width: 120px;
  }
  #experience {
    overflow: hidden;
  }
  #experience .title {
    top: 29%;
  }
  #experience .exp-background {
    height: 120%;
  }
  #experience .el-carousel--horizontal {
    top: 80%;
  }
  #experience .el-carousel--horizontal .el-carousel__item {
    height: 300px !important;
  }
  #experience .el-carousel--horizontal .el-carousel__item .exp-text {
    margin-left: 6%;
  }
  #experience .el-carousel--horizontal .el-carousel__item .exp-text h1 {
    font-size: 1.5rem;
  }
  #experience .el-carousel--horizontal .el-carousel__item .exp-text div {
    font-size: 1.2rem;
  }
  #experience .el-carousel--horizontal .el-carousel__item .exp-text .exp-title {
    font-size: 1.2rem;
  }
  #experience .el-carousel--horizontal .el-carousel__item .exp-text .exp-content {
    font-size: 1rem;
  }
  #experience .el-carousel--horizontal .el-carousel__item .exp-img {
    display: none;
  }
  #certificate {
    margin-top: 15%;
  }
  #certificate .title {
    top: -15%;
  }
  #certificate .certificate-show {
    width: 250px;
    height: 400px;
  }
  #certificate .certificate-link {
    height: 400px;
    width: 200px;
  }
  #certificate .certificate-link li {
    text-align: center;
  }
  #autobiography {
    height: 360vh;
  }
  #autobiography .autobiography-content {
    width: 350px;
  }
  #autobiography .autobiography-content h1 {
    font-size: 1.2rem;
  }
  #autobiography .autobiography-content .content {
    font-size: 1rem;
    width: 300px;
  }
  #autobiography .autobiography-content .exp {
    font-size: 1rem;
    width: 300px;
  }
  #autobiography .autobiography-content:first-child {
    top: 8%;
    right: 12%;
  }
  #autobiography .autobiography-content:nth-child(2) {
    top: 23%;
    left: 15%;
  }
  #autobiography .autobiography-content:nth-child(3) {
    top: 44%;
    right: 10%;
  }
  #autobiography .autobiography-content:nth-child(4) {
    top: 64%;
    left: 15%;
  }
  #autobiography .autobiography-content:nth-child(5) {
    top: 83%;
    right: 6%;
  }
}
